<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./restaurant.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

  
    <title>EatFinder</title>
  </head>

  <body>
    <a href="#maincontent" class="skip-link">Go to content</a>
    <header>
      <!-- nav -->
      <nav class="nav-bar">
        <a class="logo">EatFinder</a>
        <button class="drawer" href="#" tabindex="0">☰</button>
        <ul class="nav-menu-dropdown">
          <li class="nav-item">
            <a href="#/home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#/favorite" class="nav-link">Favorite</a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.linkedin.com/in/khoerul-anam-a7b627221/"
              class="nav-link"
              >About us</a
            >
          </li>
        </ul>
      </nav>
      <!-- hero / jumbotron -->

      <div class="jumbotron">
        <picture>
          <source media="(max-width: 600px)" srcset="/images/heros/hero-image_4-small.jpg">
          <img 
            src="/images/heros/hero-image_4-small.jpg" 
            alt="resto image"></img>
        </picture>
        <h1 class="display-1"><span>WELCOME! 
          <br>Serving an unforgettable dining experience</span></h1>
      </div>

     
      
    </header>
    <!-- content -->
    <main id="main-content" tabindex="0"></main>
    <!-- footer -->
    <footer>
      <div class="footer-bottom">
        <p>copyright &copy;2023 - EatFinder </p>
      </div>
    </footer>
  </body>
</html>
